
.favorites{
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 120px;
  }
  .listFavorites{
    min-width: 400px;
  }
  .listFavorites span{
    font-size: 15px;
  }

  .hide{
    display:none;
  }