*{
    padding: 0;
    margin: 0;
}
.card {
    margin: .7rem;
    background-color: white;
    border-radius: 0.25rem;
    color:black;
}
card:hover{

}

.headerCard {
    padding: 1rem 0.3rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.bodyCard {
    padding: 1.25rem;
}

.cardBlue {
    border: 1px solid rgba(8, 11, 168, 0.6);
}

.cardPurple {
    border: 1px solid rgba(100, 17, 82, 0.6);
}

  /*HELPERS*/
    
.cardTitle {
    margin-bottom: 0.75rem;
}

.textDanger {
    color: #dc3545;
}
.textSuccess {
    color: #0caa21;
}
p{
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 15px;
}
.bgGreen {
    background-color: #20c997;
    border-radius: 4px;
    padding: 8px;
}
.state{
    max-width: 50%;
    min-width: 50%;
}