.listContainer{
  display: inline-block;
  min-width: 100%;
  background-color: rgba(29, 29, 29, 0.808);
  border-radius: 1rem;
  border:4px solid rgb(8, 2, 8);
  box-sizing: border-box;
  box-shadow: 4px 4px 4px 3px rgba(158, 11, 163, 0.6);
  font-size: 12px;
  color: white;
  padding-bottom: 10px;
}
.listTitle{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align:center;
  border-bottom:1px solid rgba(65, 10, 65, 0.664);
}
.items {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  list-style: none;
  padding-top: 20px;
  max-height: 470px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top:5px;
}
.item:hover{
  background-color: rgba(59, 5, 50, 0.89);
}
.item .label {
  background-color: rgba(197, 13, 166);
  color: white;
  margin-right: 10px;
  margin-bottom: 4px;
  padding: 0 15px;
  line-height: 25px;
  font-size: 10px;
  font-weight: 700;
  border-radius: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  min-width: 30px;
  max-width: 30px;
  max-height: 25px;
}
/**/
.items::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  max-height: 1px; /* Tamaño del scroll en horizontal */
}
.items::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 0.25rem;
    border: 1px solid rgba(158, 11, 163, 0.6);
}
.textAlign{
text-align: center;
}
