.row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}
.button{
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    transform: scale(1);
    transition: all 1s;
}
.button:hover{
    transform: scale(1);
    transition: all 1s;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    margin-top: 30px;
    transition: .3s ease all;
    width: 90%;
    max-height: 470px;
    padding-left: 40px;

}

.hide{
    display:none;
}