.container{
background-color: white;
}
.row{
    display: flex;
    justify-content: center;
   width: 80%;
   margin:auto;
   padding-top:10px;
   margin-top: 10px;
}
.cover {
    position: relative;
    height: 660px;
    width: 100%;
    background-image: url("./img/banner.jpg");
    background-size: cover;
}

.overlay {
    position: absolute;
    background: rgba(90, 83, 83, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.textCover {
    padding-top: 220px;
    font-size: 45px;
}

.titleCover {
    color: white;
    text-align: center;
}

.iconsCover {
    text-align: center;
}

.icon {
    margin: 15px;
    display: inline-block;
    transform: scale(1);
    transition: all 1s;
}

.icon:hover {
    transform: scale(1.1);
    transition: all 1s;
}

.icon img {
    height: 60px;
}
.sectionTitle{
    color:black;
    text-align: center;
    font-size:60px;
}
.mt{
 margin-top: 120px;
}
.textTitle{
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 25px;
    color: black;
}
.text{
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 15px;
    color: black;
}

