.filterDetail{
    font-size: 25px;
 }
 
.filter{
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    overflow: hidden;
    padding: 10px;
    min-width: 445px;
    min-height: 25px;
}
.filter li{
    font-size: 16px;
    min-width: 95px;
}
.containerFilter{
    position:fixed;
    z-index: 100;
    left:512px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin-top:10px;
    margin-left:10px;
    background-color: rgba(0, 0, 0, 0.801);
    transform: scale(1.2);
}
.button{
    background-color: rgba(197, 13, 166);
    border-radius: 20px;
}
.button:hover{
    background-color: rgba(59, 5, 50, 0.89);
}
.filterActive{
    background-color: rgba(197, 13, 166);
    color: white;
    padding: 0 15px;
    line-height: 25px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
    margin-left: 5px
}