.card{
    margin: .7rem;
    max-width: 70%;
    background-color: black;
    border-radius: 0.25rem;
    border: 1px solid rgba(158, 11, 163, 0.6);
    box-sizing: border-box;
    box-shadow: 4px 4px 4px 3px rgba(158, 11, 163, 0.6);
    transform: scale(1);
    transition: all 1s;
    margin-top: 15px;
    margin-left: 27px;
   
}
.card:hover{
    transform: scale(1.1);
    transition: all 1s;
}
.headerCard{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    max-height:50px ;
    min-height: 50px;
    margin-bottom: 0;
    background-color: rgba(34, 2, 26, 0.973);
    border-bottom: 1px solid rgba(238, 231, 234, 0.959);
    color: white;
    font-size: 15px;
}
.bodyCard{
    text-align:center;
}
.imgCard{
    width: 100%;
    height:150px;
    border-bottom: 1px solid rgba(238, 231, 234, 0.959);
}  


