.container {
  width: 100%;
}
.listAiring {
  position: fixed;
  top: 90px;
  bottom: 0;
  margin-left: 10px;
  max-width: 260px;
}
.containerFilter {
  padding-left: 30px;
  margin-top:120px;
  margin-left: 243px;
  width: 80%;
  text-align: center;
}
.hide{
  display:none;
}


