
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color:white;
}
#root{
  position:fixed;
  top: 0;
  bottom:0;
  background-image: url("https://images8.alphacoders.com/114/thumb-1920-1141570.png");
  background-repeat: no-repeat;
  height:100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
