.slider{
    display:flex;
    margin:auto;
    max-width: 100%;
    justify-content: space-between;
}
.button{
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    transform: scale(1);
    transition: all 1s;
}
.button:hover{
    transform: scale(1);
    transition: all 1s;
}
.container{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    transition: .3s ease all;
    width: 90%;
    max-height: 475px;
    padding-left: 25px;
    background-color: rgba(29, 29, 29, 0.808);
    border-radius: 1rem;
    border:4px solid rgb(8, 2, 8);
    box-sizing: border-box;
    box-shadow: 4px 4px 4px 3px rgba(158, 11, 163, 0.6);

}

.hide{
    display:none;
}